# yaml-language-server: $schema=https://aka.ms/winget-manifest.defaultLocale.1.12.0.schema.json

PackageIdentifier: EmbrasureAI.Fortify
PackageVersion: @VERSION@
PackageLocale: en-US
Publisher: Embrasure, Inc.
PublisherUrl: https://embrasure.ai
PublisherSupportUrl: https://github.com/EmbrasureAI/fortify/issues
Author: Embrasure, Inc.
PackageName: Fortify
PackageUrl: https://github.com/EmbrasureAI/fortify
License: Apache-2.0
LicenseUrl: https://github.com/EmbrasureAI/fortify/blob/main/LICENSE
Copyright: Copyright 2026 Embrasure, Inc.
ShortDescription: Validate dbt changes against production warehouse data
Description: >-
  Fortify is an open-source CLI that builds changed dbt models in temporary
  Snowflake schemas and compares them with production before a pull request is reviewed.
Moniker: fortify
Tags:
- cli
- data-engineering
- data-quality
- dbt
- snowflake
ReleaseNotesUrl: https://github.com/EmbrasureAI/fortify/releases/tag/v@VERSION@
Documentations:
- DocumentLabel: Documentation
  DocumentUrl: https://github.com/EmbrasureAI/fortify#readme
ManifestType: defaultLocale
ManifestVersion: 1.12.0
