# yaml-language-server: $schema=https://aka.ms/winget-manifest.installer.1.12.0.schema.json

PackageIdentifier: EmbrasureAI.Fortify
PackageVersion: @VERSION@
InstallerType: zip
NestedInstallerType: portable
ReleaseDate: "@RELEASE_DATE@"
Installers:
- Architecture: x64
  NestedInstallerFiles:
  - RelativeFilePath: @PACKAGE_ROOT@\bin\fortify.exe
    PortableCommandAlias: fortify
  - RelativeFilePath: @PACKAGE_ROOT@\bin\embrasure.exe
    PortableCommandAlias: embrasure
  InstallerUrl: @ARCHIVE_URL@
  InstallerSha256: @SHA256@
ManifestType: installer
ManifestVersion: 1.12.0
