{
    "version": "@VERSION@",
    "description": "Validate dbt changes against production warehouse data",
    "homepage": "https://github.com/EmbrasureAI/fortify",
    "license": "Apache-2.0",
    "architecture": {
        "64bit": {
            "url": "@ARCHIVE_URL@",
            "hash": "@SHA256@"
        }
    },
    "extract_dir": "@PACKAGE_ROOT@",
    "bin": [
        "bin\\fortify.exe",
        "bin\\embrasure.exe"
    ],
    "checkver": {
        "github": "https://github.com/EmbrasureAI/fortify"
    },
    "autoupdate": {
        "architecture": {
            "64bit": {
                "url": "https://github.com/EmbrasureAI/fortify/releases/download/v$version/fortify-$version-x86_64-pc-windows-msvc.zip"
            }
        },
        "extract_dir": "fortify-$version-x86_64-pc-windows-msvc"
    },
    "pre_install": "if (Test-Path \"$scoopdir/apps/embrasure/current\") { throw 'Uninstall embrasure before installing fortify; both provide the same commands.' }"
}
